.main-layout {
  width: 90vw;
  /* display: flex; */
  /* align-items: center; */
  margin: 0 auto;
}



.filter-bg-layout{
height: 6.25em; ;
background-color: white;
margin-bottom: 2.49rem;
}

.bg-details-layout{
width: 100%;
background-color: white;
margin-top: 2.49rem;

}