.gallery {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));

  gap: 21px;
}

img {
  width: 100%;
}

.filter-bar input {
  border: none;
  border-width: 0;
  box-shadow: none;
  border-bottom: 1px solid black;
  margin-bottom: 1px;
}

.gallery img{
border-radius: 10px;
transition: 0.2s;
}
.gallery img:hover {
  box-shadow: 2px 2px 2px black;
  transform: perspective(1000px) translateZ(60px);
}
