.meme-conteiner {
  display: flex;
  justify-content: space-between;
  justify-content: center;

  padding: 8.6rem;
}

.tool-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.tools-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
  border-radius: 30px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.616);
  margin-inline-start: 30px;
  padding: 1.5rem;
  justify-content: space-around;
}

.tools-conteiner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
}

.icon img,
.icon-paint {
  width: 3.125rem;
  height: 3.125rem;
}

.textinput {
  border: 3px solid var(--clr1);
  border-radius: 9px;
  width: 80%;
  padding: 1rem;
}

.font-change {
  grid-column: span 4;
}

.my-canvas {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  border-radius: 30px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.616);
}

input[type="color"] {
  display: none;
}
